$primaryColor: rgba(21, 19, 23, 1);
$secondaryColor: rgba(255, 255, 255, 1);
$accentColor: rgba(81, 38, 137, 1);
$bgColor: rgba(255, 255, 255, 1);
$errorColor: rgba(255, 97, 97, 1);
$placeholderColor: rgba(128, 129, 133, 1);
$inputBorderColor: rgba(248, 248, 248, 1);

$accentHoverColor: rgb(89, 53, 136);

$navbarHeight: 265px;
$navbarHeightMobile: 281px;

$mobileBreakPoint: 536px;

$mainFont: "Roboto", sans-serif;