@import '../../../../../styles/variables.scss';

.TeamMemberDescription {
    gap: 129px;

    .descriptionText {
        max-width: 630px;
        white-space: pre-line;
    }

    .link {
        display: flex;
        gap: 8px;
    }

    @media screen and (max-width: $mobileBreakPoint) {
        padding: 0 16px 32px;
        flex-direction: column-reverse;
        gap: 32px;
    }
}