@import '../../../../app/styles/variables.scss';

.NavbarUsersPage {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    height: $navbarHeight;

    .content {
        max-width: 846px;
    }

    button {
        margin-left: auto;
    }

    .container {
        max-width: 1280px;
        width: 100%;
        
    }

    @media screen and (max-width: $mobileBreakPoint) {
        padding: 12px 20px 64px;
        height: $navbarHeightMobile;
    }
}