@import '../../../../../styles/variables.scss';

.UserDetailedPage {
    max-width: 1050px;
    width: 100%;
    margin-top: 49px;
    

    @media screen and (max-width: $mobileBreakPoint) {
        margin-top: 32px;
    }
}