@import "./app/styles/reset.scss";

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer,
header,
hgroup,
menu,
nav,
section,
img {
  display: block;
}

button {
  cursor: pointer;
}